tarot_env/
scrape.py
todo.md
plan.md
py/
spreads.md
Coloris-0.25.0.zip
Coloris-0.25.0/
cbdtarot_jpgs_205x397.zip
PixelCards.zip
cbdlwb.rtf
learn tarot/01a-rider-waite-smith-flash-cards-for-rote-study.docx
learn tarot/elemental-dignities.pdf
learn tarot/mathers-and-felkin-golden-dawn-book-t-the-tarot-1888.pdf
learn tarot/integrating-the-five-components-of-circumstance-into-tarot-practice-benebell-wen.pptx
learn tarot/papus-the-tarot-of-the-bohemians-1892.pdf
learn tarot/safe passage spread.png
learn tarot/tarot-journal-printout-glossary-of-card-meanings-upright-and-reversed.docx
learn tarot/tarot-journal-printout-keywords.docx
learn tarot/tarot-journal-printout-log-of-readings.docx
learn tarot/The Ultimate Guide to Tarot - A Beginner.pdf
learn tarot/paul-foster-case-oracle-of-the-tarot-1933-source-credit-tarotworks.pdf
learn tarot/a-e-waite-pictorial-key-to-the-tarot-1911-source-credit-sacredtexts.pdf
learn tarot/tarot-keywords-list-rider-waite-smith-thoth-golden-dawn.docx
